{% extends 'base.html' %}

{% block title %} APP 1 {% endblock %}

{% block content %}
    <h1> All Blogs </h1>

    <div class="blogbox">
        {% if blogs %}
            {% for b in blogs %}
                <div class="oneblog">
                    <h2>{{ b.title }}</h2><br>
                    <p>Content: &nbsp{{ b.content }}</p>
                    <p>Created at: &nbsp{{ b.created_at }}</p>
                </div>
            {% endfor %}
        {% else %}
            <h2>There is no blog published yet!</h2>
        {% endif %}
        <a id="homea" href="{% url 'homeurl' %}">Home Page ></a>
    </div>

    <style>
        h1 {
            text-align: center;
            color: rgb(168, 208, 255);
            padding: 5px;
        }
        .blogbox {
            padding: 10px;
            line-height: 30px;
            margin: 25px 0 ;
            font-family: Arial, Helvetica, sans-serif;
        }
        .oneblog {
            padding: 10px;
            margin: 20px 10px;
            border: none;
            border-radius: 5px;
            box-shadow: 1px 1px 5px;
            background-color: rgb(0, 66, 66);

        }
        #homea {
            text-decoration: none;
            color: orange;
            transition-duration: .3s ;
        }
        #homea:hover {
            text-decoration: underline;
        }
    </style>


{% endblock %}